@using MvcApp.Infrastructure;
@model MvcApp.ViewModels.GenericPaginationModel<MvcApp.ViewModels.MvcCategory>

@using (Html.BeginForm("UserProfile", "Profile", new { id = ViewBag.ProfileId }))
{
    foreach (var item in Model.Entities)
    {
        <div>
            @item.Name
            <table class="table">
                @foreach (var skill in item.Skills)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(Model => skill.Id)
                        </td>
                        <td>
                            @Html.HiddenFor(Model => skill.Name)
                            @Html.DisplayFor(Model => skill.Name)
                        </td>
                        <td>
                            @{string name = skill.Name + ".Level";
                            }
                            <input for="Level" id="@skill.Id" value="@skill.Level" name="@name" class="rating-loading" data-size="xs" data-min="0" data-max="5" data-step="1" data-show-clear="false">
                        </td>
                    </tr>
                                }
            </table>
        </div>
                                }
<div class="btn-group">
    @Html.PageSubmit(Model.Pagination)
</div>
}