@using MvcApp.Infrastructure;
@model MvcApp.ViewModels.FullProfileInfo

@{
    ViewBag.Title = "UserProfile";
    var roles = ((CustomIdentity)User.Identity).Roles;
}

<div class="userProfileContent">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_ProfilePhoto", Model.Profile.Id)
        </div>

        <div class="col-md-8">
            <div class="inner">
                @Html.Partial("_ProfileInfo", Model.Profile)
                @{
                    var identity = (CustomIdentity)User.Identity;
                    if (identity.Id == Model.Profile.Id)
                    {
                        @Html.RouteLink("Edit", "Edit", null, new { @class = "btn btn-default" })
                    }

                }
                @if (roles.Contains("Manager"))
                {
                    @Html.ActionLink("pdf", "UserInfoPdf", new { id = Model.Profile.Id }, new { @class = "btn btn-default" })
                }
            </div>
        </div>
        <div class="col-md-offset-3 col-md-8">
            <div class="inner">
                @Html.Partial("_ProfileSkills", Model.Categories)

                @if (identity.Id == Model.Profile.Id)
                {
                    @Html.ActionLink("Edit", "Index", "Skill", null, new { @class = "btn btn-default" })
                }
            </div>
        </div>
    </div>
</div>