@model MvcApp.ViewModels.GenericPaginationModel<MvcApp.ViewModels.MvcUser>
@using MvcApp.Infrastructure;

@{
    ViewBag.Title = "EditEntities";
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="result"></div>
            </div>
        </div>
    </div>
</div>
<h2>EditEntities</h2>
@using (Html.BeginForm())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>
                    Login
                </th>
                <th>
                    Email
                </th>
                <th></th>
                <th></th>
                <th>
                    Roles
                </th>
            </tr>

        </thead>
        <tbody>
            @for (int i = 0; i < Model.Entities.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(m => Model.Entities[i].Id)
                    </td>
                    <td class="login">
                        @Html.HiddenFor(m => Model.Entities[i].Login)
                        @Html.ActionLink(Model.Entities[i].Login, "UserDetails", new { id = Model.Entities[i].Id })
                    </td>
                    <td>
                        @Html.HiddenFor(m => Model.Entities[i].Email)
                        @Html.DisplayFor(m => Model.Entities[i].Email)
                    </td>
                    <td>
                        @Html.HiddenFor(m => Model.Entities[i].Password)
                    </td>
                    <td>
                        @Html.HiddenFor(m => Model.Entities[i].PasswordSalt)
                    </td>
                    <td>
                        @{
                            string name = "Entities[" + i + "].Roles";
                        }
                        <select multiple class="selectpicker" name="@name" id="@i">

                            @for (int j = 0; j < ViewBag.Roles.Length; j++)
                            {
                                if (Model.Entities[i].Roles.Contains(ViewBag.Roles[j]))
                                {
                                    <option selected name="optionName">@ViewBag.Roles[j]</option>
                                }
                                else
                                {
                                    <option name="optionName">@ViewBag.Roles[j]</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        @Html.RouteLink("Remove", new { controller = "Administrator", action = "RemoveUser", id = Model.Entities[i].Id })
                    </td>
                </tr>
                            }
        </tbody>
    </table>
    <br />
    <div id="result"></div>
    <div class="btn-group">
        @Html.PageSubmit(Model.Pagination)
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
                            }
@section scripts{
    <link rel="stylesheet" href="~/Content/bootstrap-select.css">
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/scripts/jsrender.js"></script>

<script id="UserTemplate" type="text/x-jsrender">
        <div class="row">
            <p><em>FName:</em> {{:FirstName}}</p>
            <p><em>MName:</em> {{:MiddleName}}</p>
            <p><em>LName:</em> {{:LastName}}</p>
            <p><em>Age</em>{{:Age}}</p>            
        </div>
    </script>

    <script>
            $(document).ready(function () {
                $("td.login a").click(function (e) {
                        e.preventDefault();
                        var url = $(this).attr('href');
                    $.getJSON(url, null, function (user) {
                            var template = $.templates("#UserTemplate");
                            var htmlOutput = template.render(user);
                        $('#myModal').modal('show');
                        $("#result").html(htmlOutput);
                        });
                    });
                });
</script>
}