@using MvcApp.Infrastructure;
@model MvcApp.ViewModels.GenericPaginationModel<MvcApp.ViewModels.SkillsModel>


@{
    ViewBag.Title = "Index";
    int skillsCount = ViewBag.Skills.Length;
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="result"></div>
            </div>
        </div>
    </div>
</div>

<h2>Index</h2>
@using (Html.BeginForm())
{
    <div id="content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User Login</th>
                    @for (int i = 0; i < ViewBag.Skills.Length; i++)
                {
                        <th>
                            @{string id = "select" + i;
                            }
                            <select class="form-control" id="@id" name="selector">
                                @for (int j = 0; j < ViewBag.AllSkills.Length; j++)
                                {
                                    if (ViewBag.Skills[i] == ViewBag.AllSkills[j])
                                    {
                                        <option selected>@ViewBag.AllSkills[j]</option>
                                    }
                                    else
                                    {
                                        <option>@ViewBag.AllSkills[j]</option>
                                    }
                                }
                            </select>
                        </th>
                                }
                    @if (skillsCount < 5)
                {
                    for (int i = 0; i < 5 - skillsCount; i++)
                    {
                            <th>
                                <select class="form-control" name="selector">
                                    <option data-hidden="true"></option>
                                    @foreach (var option in ViewBag.AllSkills)
                                    {
                                        <option>@option</option>

                                    }
                                </select>
                            </th>

                        }
                    }
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.Entities)
                {
                    <tr>
                        <td>
                            <div>
                                <img src="@Url.Action("GetImage", "Profile", new { id = item.UserId })" alt="I am" class="img-responsive" width="150" />
                            </div>
                            <div>
                                @Html.ActionLink(item.FirstName + " " + item.LastName, "UserProfile", "Profile", new { id = item.UserId }, null)
                            </div>
                        </td>
                        @foreach (var item2 in item.Skills)
                        {
                            <td>@item2.Level</td>
                        }
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="btn-group">
        @Html.PageSubmit(Model.Pagination)
    </div>

    <div id="page-selection"></div>
    <div class="form-group col-md-2">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
                                }
